[submodule "lc-query-server/query-server"]
	path = lc-query-server/query-server
	url = https://github.com/linkedconnections/query-server.git
[submodule "lc-query-mix"]
	path = lc-query-mix
	url = https://github.com/pietercolpaert/lc-query-mix.git
